<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DirectAccess.EndpointUrl" value="https://test.itadirectaccess.ca/uatexternal/shiftiqinterface.asmx" />
    <add key="DirectAccess.UserName" value="(UserName)" />
    <add key="DirectAccess.Password" value="(Password)" />
    <add key="DirectAccess.TestFolder" value="F:\Code\Daniel\DirectAccess-Tools\AsmxTestHarness" />
  </appSettings>
</configuration>