<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>

    <add key="DirectAccess.TestFolder" value="F:\Code\Daniel\DirectAccess-Tools\AsmxTestHarness\Tests" />

    <add key="DirectAccess.AsmxEndpointUrl" value="https://test.itadirectaccess.ca/uatexternal/shiftiqinterface.asmx" />
    <add key="DirectAccess.AsmxUserName" value="(user)" />
    <add key="DirectAccess.AsmxPassword" value="(password)" />
    
    <add key="DirectAccess.AshxEndpointUrl" value="https://test.itadirectaccess.ca/uatexternal/awisinterface.ashx" />
    <add key="DirectAccess.AshxAuthorizationToken" value="(token)" />

  </appSettings>

</configuration>